<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description"
        content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Differentiable Display Photometric Stereo</title>

  <link href="https://fonts.googleapis.com/css?family=Google+Sans|Noto+Sans|Castoro"
        rel="stylesheet">

  <link rel="stylesheet" href="./static/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="./static/css/index.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script defer src="./static/js/fontawesome.all.min.js"></script>
  <script src="./static/js/index.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .container_gif {
      display: flex; /* flexbox를 사용하여 요소들을 가로로 나열 */
    }
    .gif {
      margin-right: 20px; /* 이미지 사이의 간격 설정 */
      border-radius: 10px; /* 모서리를 둥글게 */
    }
    .gif img {
      width: 100%; /* 이미지 크기 조정 */
      height: auto;
      border-radius: 10px; /* 이미지의 모서리를 둥글게 */
    }
  </style>

  <!-- MathJax -->
  <script>
    MathJax = {
      tex: {
        inlineMath: [ ['$', '$'], ['\\(', '\\)'] ],
        displayMath: [ ['$$', '$$'], ['\\[', '\\]'] ],
        processEscapes: true, 
        tags: 'all',
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script
    type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
  </script>
</head>
<body>


<section class="hero">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <div class="columns is-centered">
        <div class="column has-text-centered">
          <h1 class="title is-1 publication-title">A Real-world Display Inverse Rendering Dataset</h1>
          
          <div class="is-size-5 publication-authors">
            <span class="author-block">
              <a href="https://michaelcsj.github.io/">Seokjun Choi</a><sup>1</sup>, <a href="https://sites.google.com/view/hoongyu-chung/home">Hoon-Gyu Chung</a><sup>1</sup>, <a href="https://sites.google.com/view/gjnam">Giljoo Nam</a><sup>2</sup>, <a href="https://www.shbaek.com/">Seung-Hwan Baek</a><sup>1</sup>
            </span>
          </div>
          

          
          <div class="is-size-5 publication-authors">
            <span class="author-block">
              <sup>1</sup>POSTECH <sup>2</sup>Meta Reality Lab
            </span>
          </div>
          

          <div class="column has-text-centered">
            <div class="publication-links">
              <!-- PDF Link. -->
                        <!-- <a class="navbar-item" href="https://michaelcsj.github.io/Seokjun_Choi_files/CV_Seokjun.pdf">CV</a> -->
              <span class="link-block">
                <a href="https://michaelcsj.github.io/DIR/static/DIR.pdf"
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="fas fa-file-pdf"></i>
                  </span>
                  <span>Paper</span>
                </a>
              </span>
              
              <!-- Video Link. -->
              
              <!-- <span class="link-block">
                <a href="https://www.youtube.com/watch?v=kPPalgkBSww&ab_channel=SeokjunChoi"
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="fab fa-youtube"></i>
                  </span>
                  <span>Video</span>
                </a>
              </span> -->
             
              <!-- Code Link. -->
              
              <!-- Dataset Link. -->
              
              <!-- Code Link. -->
              <!-- {% if page.code %}
              <span class="link-block">
                <a href="{{ page.code }}"
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="fab fa-github"></i>
                  </span>
                  <span>Code</span>
                  </a>
              </span>
              {% endif %} -->
              <!-- Dataset Link. -->
              <!-- {% if page.data %}
              <span class="link-block">
                <a href="{{ page.data }}"
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="fas fa-database"></i>
                  </span>
                  <span>Data</span>
                </a>
              </span> -->
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
<div class="container is-max-desktop">

<!-- <div class="content">
  <p><img src="./static/image/teaser.png" alt="Figure 1" /></p> -->

<!-- Using HTML to center the abstract -->
<div class="columns is-centered has-text-centered">
    <div class="column is-four-fifths">
        <h2>Abstract</h2>
        <div class="content has-text-justified">
<p>
Inverse rendering aims to reconstruct geometry and reflectance from captured images. 
Display-camera imaging systems offer unique advantages for this task: each pixel can easily function as a programmable point light source, and the polarized light emitted by LCD displays facilitates diffuse-specular separation. 
Despite these benefits, there is currently no public real-world dataset captured using display-camera systems, unlike other setups such as light stages. 
This absence hinders the development and evaluation of display-based inverse rendering methods.
In this paper, we introduce the first real-world dataset for display-based inverse rendering. 
To achieve this, we construct and calibrate an imaging system comprising an LCD display and stereo polarization cameras. 
We then capture a diverse set of objects with diverse geometry and reflectance under one-light-at-a-time (OLAT) display patterns. 
We also provide high-quality ground-truth geometry. Our dataset enables the synthesis of captured images under arbitrary display patterns and different noise levels. 
Using this dataset, we evaluate the performance of existing photometric stereo and inverse rendering methods, and provide a simple, yet effective baseline for display inverse rendering, outperforming state-of-the-art inverse rendering methods.
</p>
        </div>
    </div>
</div>

<hr />

<!-- > Note: This is an example of a Jekyll-based project website template: [Github link](https://github.com/shunzh/project_website).\
> The following content is generated by ChatGPT. The figure is manually added. -->

<!-- <h2 id="learning-display-patterns">Learning display patterns</h2>
<p>The video shows learning process of display patterns.
Every learned patterns excels existing heuristic patterns.
DDPS can learn optimal patterns from not only heuristic patterns, but also randomimzed initialization.</p> -->

<!-- <section class="hero is-light is-small">
  <div class="container is-max-desktop">
    <div class="hero-body">
      <video id="teaser" autoplay="" muted="" loop="" playsinline="" height="100%" src="./static/video/flat_gray.mp4" 
      type="video/mp4">
    </div>
  </div>
</section> -->

<!-- <section class="hero">
  <div class="hero-body">
    <div class="container_gif">
        <div class="gif">
          <img height="50%" src="./static/image/mono_gradient.gif" alt="Figure 2" />
        </div>
        <div class="gif">
          <img src="./static/image/flat_gray.gif" alt="Figure 3" />
        </div>
    </div>
  </div>
</section> -->

<!-- <section class="hero teaser">
  <div class="columns is-centered has-text-centered">
    <div class="hero-body">
      <video id="teaser" autoplay muted loop playsinline width="1000" height="100%">
        <source src="./static/video/mono_gradient.mp4"
                type="video/mp4">
      </video>
    </div>
  </div>
</section> -->

<!-- <h2 id="differentiable-framework">Differentiable framework</h2>
<p>Proposed differentiable framework consists of rendering and analytic photometric stereo reconstruction.
For differentiable rendering, we adopt Image-based relighting, a weighted sum of basis images.
This enables efficient, realistic, and fast rendering.</p>

<section class="hero teaser">
  <div class="container is-max-desktop">
    <div class="hero-body">
      <video id="teaser" autoplay="" muted="" loop="" playsinline="" height="100%" src="./static/video/image_formation.mp4" 
      type="video/mp4">
    </div>
  </div>
</section>

<h2 id="3d-printed-dataset">3D-printed dataset</h2>
<p>We creat a real world dataset with known geometry using 3D-printed objects.
This dataset leads to not only reduce domain gap between traing and testing stage but also enhance robustness to DDPS’s assumptions.</p>

<p><img src="./static/image/dataset.png" alt="Figure 4" /></p>

<h2 id="results">Results</h2>
DDPS shows consistently accurate performance in various real-world objects.
We conduct extensive evaluation of DDPS showing its accuracy, generalization and robustness.
The extra experiments are enable in main paper and supplemental material.</p>

<p><img src="./static/image/results.png" alt="Figure 5" /></p> -->

<!-- ## Key Ideas
1. Turing first presented the concept of a "computable number," which refers to a number that can be computed by an algorithm or a definite step-by-step process.
2. He introduced the notion of a Turing machine, an abstract computational device consisting of an infinite tape divided into cells and a read-write head. The machine can read and write symbols on the tape, move the head left or right, and transition between states based on a set of rules.
3. Turing demonstrated that the set of computable numbers is enumerable, meaning it can be listed in a systematic way, even though it is not necessarily countable.
4. He proved the existence of non-computable numbers, which cannot be computed by any Turing machine.
5. Turing showed that the Entscheidungsproblem is undecidable, meaning there is no algorithm that can determine, for any given mathematical statement, whether it is provable or not.

![Turing Machine](/static/image/Turing_machine.png)

*Figure 1: A representation of a Turing Machine. Source: [Wiki](https://en.wikipedia.org/wiki/Turing_machine).*

## Table: Comparison of Computable and Non-Computable Numbers

| Computable Numbers | Non-Computable Numbers |
|-------------------|-----------------------|
| Rational numbers, e.g., 1/2, 3/4 | Transcendental numbers, e.g., π, e |
| Algebraic numbers, e.g., √2, ∛3 | Non-algebraic numbers, e.g., √2 + √3 |
| Numbers with finite decimal representations | Numbers with infinite, non-repeating decimal representations |

He used the concept of a universal Turing machine to prove that the set of computable functions is recursively enumerable, meaning it can be listed by an algorithm. -->

<!-- ## Significance
Turing's paper laid the foundation for the theory of computation and had a profound impact on the development of computer science. The Turing machine became a fundamental concept in theoretical computer science, serving as a theoretical model for studying the limits and capabilities of computation. Turing's work also influenced the development of programming languages, algorithms, and the design of modern computers. -->

<!-- <h2 id="citation">Citation</h2>
<div class="language-plaintext highlighter-rouge"><div class="highlight"><pre class="highlight"><code>@article{choi2023differentiable,
  title={Differentiable Display Photometric Stereo},
  author={Choi, Seokjun and Yoon, Seungwoo and Nam, Giljoo and Lee, Seungyong and Baek, Seung-Hawn},
  journal={CVPR},
  year={2024}
}
</code></pre></div></div> -->

</div>

</div>
</section>

<footer class="footer">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="content">
          <p>
            Website template borrowed from <a
            href="https://github.com/nerfies/nerfies.github.io">NeRFies</a>. 
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
